@using SpartanBoosting.ViewModel
@using SpartanBoosting.Extensions.LolExtensions
@model LolOrderDetailsViewModel
@{
	Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";

}
<link href="~/Client/assets/css/ClientArea.css" rel="stylesheet" />
@if (Model.PurchaseForm.BoosterAssignedTo != null)
{
	<ul class="sticky-toolbar nav flex-column pl-2 pr-2 pt-3 pb-3 mt-4">
		<!--begin::Item-->
		<li class="nav-item" id="kt_sticky_toolbar_chat_toggler" data-toggle="tooltip" title="" data-placement="left" data-original-title="Chat To Booster">
			<a class="btn btn-sm btn-icon btn-bg-light btn-icon-info btn-hover-danger" href="#" data-toggle="modal" data-target="#kt_chat_modal" id="chat-model-show">
				<span class="svg-icon svg-icon-lg">
					<!--begin::Svg Icon | path:/keen/theme/demo1/dist/assets/media/svg/icons/Communication/Chat6.svg-->
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
						<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<rect x="0" y="0" width="24" height="24"></rect>
							<path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M14.4862 18L12.7975 21.0566C12.5304 21.54 11.922 21.7153 11.4386 21.4483C11.2977 21.3704 11.1777 21.2597 11.0887 21.1255L9.01653 18H5C3.34315 18 2 16.6569 2 15V6C2 4.34315 3.34315 3 5 3H19C20.6569 3 22 4.34315 22 6V15C22 16.6569 20.6569 18 19 18H14.4862Z" fill="black"></path>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M6 7H15C15.5523 7 16 7.44772 16 8C16 8.55228 15.5523 9 15 9H6C5.44772 9 5 8.55228 5 8C5 7.44772 5.44772 7 6 7ZM6 11H11C11.5523 11 12 11.4477 12 12C12 12.5523 11.5523 13 11 13H6C5.44772 13 5 12.5523 5 12C5 11.4477 5.44772 11 6 11Z" fill="black"></path>
						</g>
					</svg>
					<!--end::Svg Icon-->
				</span>
			</a>
		</li>
		<!--end::Item-->
	</ul>
}
<div class="container-fluid order-details">
	<div class="alert alert-info text-center" role="alert">
		<i class="dripicons-info mr-2"></i>
		A Booster will begin your order soon, they will also be in regular contact with the progress of the boost.
	</div>

	<div class="row" style="margin-top:4rem;">
		<div class="@(Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.SoloBoosting || Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.DuoBoosting || Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.TFTBoosting ? "col-lg-4 col-md-6" : "col-lg-6 col-md-12") text-center order-details-content">
			<h5 class="font-weight-bold">CURRENT RANK</h5>

			<div class="@Model.StartDivision.Split(' ')?[0].ToLower() flag current-flag" id="current-flag">
				<div class="rank-icon mb-3">
					<img id="current-image" src="/img/Lol Ranks/@(Model.StartDivision.Replace(" ", String.Empty)).png">
				</div>
				<h4 class="league-info font-weight-bold mb-0" id="current-tier">@Model.StartDivision.Split(' ')?[0]</h4>
				@if (Model.StartDivision.Split(' ').Length > 1)
				{
					<p class="division-info font-weight-normal" id="current-division">Divison @Model.StartDivision.Split(' ')[1]</p>
				}
			</div>
		</div>
		@if (Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.SoloBoosting || Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.DuoBoosting || Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.TFTBoosting)
		{
			<div class="col-lg-4 col-md-6 text-center order-details-content">
				<h5 class="font-weight-bold">DESIRED RANK</h5>
				<div class="@Model.DesiredDivision.Split(' ')?[0].ToLower() flag desired-flag" id="desired-flag">
					<div class="rank-icon mb-3">
						<img id="desired-image" src="/img/Lol Ranks/@(Model.DesiredDivision.Replace(" ", String.Empty)).png">
					</div>
					<h4 class="league-info font-weight-bold mb-0" id="desired-tier">@Model.DesiredDivision.Split(' ')?[0]</h4>
					<p class="division-info font-weight-normal" id="desired-division">Divison @Model.DesiredDivision.Split(' ')?[1]</p>
				</div>
			</div>
		}
		<div class="@(Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.SoloBoosting || Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.DuoBoosting || Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.TFTBoosting ? "col-lg-4 col-md-6" : "col-lg-6 col-md-12") text-center order-details-content">
			<h5 class="font-weight-bold">OTHER INFO</h5>
			<div class="row mt-4">
				@if (Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.SoloBoosting || Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.DuoBoosting || Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.TFTBoosting)
				{
					<div class="col-lg-6 col-md-4">
						<div class="card">
							<div class="card-body ">
								Current LP : <br><span class="text-primary">@Model.LP</span>
							</div>
						</div>
					</div>
				}
				else
				{
					<div class="col-lg-6 col-md-4 order-details-content">
						<div class="card">
							<div class="card-body ">
								Amount Of Games : <br><span class="text-primary">@Model.NumOfGames Games</span>
							</div>
						</div>
					</div>
				}
				<div class="col-lg-6 col-md-4 order-details-content">
					<div class="card">
						<div class="card-body ">
							Server : <br><span class="text-primary">@Model.Region</span>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-4 order-details-content">
					<div class="card" style="height:6rem;">
						<div class="card-body ">
							Queue Type : <span class="text-primary">@Model.Queue</span>
						</div>
					</div>
				</div>
			</div>
			<h5 class="font-weight-bold">CUSTOMIZATIONS</h5>
			<div class="row mt-4 text-center order-details-content">
				<div class="col-lg-6 col-md-4">
					<div class="card">
						<div class="card-body ">
							VPN : <br><span class="text-primary">@(Model.VPN ? "Yes" : "None")</span>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-4">
					<div class="card">
						<div class="card-body ">
							Roles : <br>
							@if (Model.SpecificRoles != null && Model.SpecificRoles.Contains("mid"))
							{
								<span data-toggle="tooltip" data-placement="top" title="" data-original-title=" MidLane">
									<img src="~/Client/assets/images/LeagueOfLegends/mid.png?1.0" width="22px">
								</span>
							}
							@if (Model.SpecificRoles != null && Model.SpecificRoles.Contains("jungle"))
							{
								<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Jungle">
									<img src="~/Client/assets/images/LeagueOfLegends/jungle.png?1.0" width="22px">
								</span>
							}
							@if (Model.SpecificRoles != null && Model.SpecificRoles.Contains("top"))
							{
								<span data-toggle="tooltip" data-placement="top" title="" data-original-title="TopLane">
									<img src="~/Client/assets/images/LeagueOfLegends/top.png?1.0" width="22px">
								</span>
							}
							@if (Model.SpecificRoles != null && Model.SpecificRoles.Contains("support"))
							{
								<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Support">
									<img src="~/Client/assets/images/LeagueOfLegends/supp.png" width="22px">
								</span>
							}
							@if (Model.SpecificRoles != null && Model.SpecificRoles.Contains("adc"))
							{
								<span data-toggle="tooltip" data-placement="top" title="" data-original-title="AdCarry">
									<img src="~/Client/assets/images/LeagueOfLegends/adc.png?1.0" width="22px">
								</span>
							}
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-4">
					<div class="card">
						<div class="card-body ">
							Champions :<br>
							<span class="text-primary">@Model.Champions</span>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-md-4 offset-md-4 offset-lg-0">
					<div class="card">
						<div class="card-body">
							Boost Priority : <br>
							<span class="text-primary">Normal</span>
						</div>
					</div>
				</div>

			</div>
		</div>


		<div class="col-md-4 offset-md-4">
			<div style="text-align: center!important;">
				<h5 class="font-weight-bold">ORDER SUMMARY</h5>
			</div>
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-6 my-auto" style="line-height: 2;">
							<b class="bold-tgray">Subtotal</b><br>
						</div>
						<div class="col-sm-6 text-right" style="line-height: 2;">
							<b class="price">@Model.PurchaseForm.Pricing€</b><br>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 my-auto" style="line-height: 2;">
							<b class="bold-tgray">Discount</b>
						</div>
						<div class="col-sm-6 text-right" style="line-height: 2;">
							<b class="price"> - @Model.PurchaseForm.Discount?.DiscountPercentage%</b>
						</div>
					</div>

					<div class="gb-divider my-4"></div>

					<div class="row">
						<div class="col-sm-6 my-auto pb-4">
							<b class="total">Total</b>
						</div>
						<div class="col-sm-6 text-right">
							<b class="bold-gray">EUR</b> <b class="total-cost">@Model.PurchaseForm.Pricing€</b>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal modal-sticky modal-sticky-bottom-right show" id="kt_chat_modal" role="dialog" data-backdrop="false" aria-modal="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<!--begin::Card-->
			<div class="card card-custom">
				<!--begin::Header-->
				<div class="card-header align-items-center px-4 py-3">
					<div class="text-left flex-grow-1">

					</div>
					<div class="text-center flex-grow-1">
						<div class="text-dark-75 font-weight-bold font-size-h5">Chat</div>
					</div>
					<div class="text-right flex-grow-1">
						<button type="button" class="btn btn-clean btn-sm btn-icon btn-icon-md" data-dismiss="modal">
							<i class="ki ki-close icon-1x"></i>
						</button>
					</div>
				</div>
				<!--end::Header-->
				<!--begin::Body-->
				<div class="card-body">
					<!--begin::Scroll-->
					<div class="chat-message-scroll scroll scroll-pull ps" data-height="375" data-mobile-height="300" style="height: 375px; overflow: hidden;">
						<!--begin::Messages-->
						<div class="messages chat-window-messages">
							@foreach (var item in Model.ChatModel)
							{
								if (item.Sender == Model.CurrentUser)
								{
									<div class="d-flex flex-column mb-5 align-items-end">
										<div class="d-flex align-items-center">
											<div>
												<span class="text-dark-75 text-hover-primary font-weight-bold font-size-h6">@item.Sender.UserName</span>
												<span class="text-muted font-size-sm">
													@LolModelExtenstion.ChatModelTime(DateTime.UtcNow, item.DateTimeSent)
												</span>
											</div>
										</div>
										<div class="mt-2 rounded p-5 bg-light-primary text-dark-50 font-weight-bold font-size-lg text-right max-w-400px">
											@item.Message
										</div>
									</div>
								}
								else
								{
									<div class="d-flex flex-column mb-5 align-items-start">
										<div class="d-flex align-items-center">
											<div>
												<span class="text-dark-75 text-hover-primary font-weight-bold font-size-h6">@item.Sender.UserName</span>
												<span class="text-muted font-size-sm">
													@LolModelExtenstion.ChatModelTime(DateTime.UtcNow, item.DateTimeSent)
												</span>
											</div>
										</div>
										<div class="mt-2 rounded p-5 bg-light-success text-dark-50 font-weight-bold font-size-lg text-left max-w-400px">
											@item.Message
										</div>
									</div>
								}
							}
						</div>
						<!--end::Messages-->
						<div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: -2px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
					</div>
					<!--end::Scroll-->
				</div>
				<!--end::Body-->
				<!--begin::Footer-->
				<div class="card-footer align-items-center">
					<!--begin::Compose-->
					<textarea class="form-control border-0 p-0 chat-message" rows="2" placeholder="Type a message"></textarea>
					<div class="d-flex align-items-center justify-content-between mt-5">
						<div class="mr-3">
							<a href="#" class="btn btn-clean btn-icon btn-md mr-1">
								<i class="flaticon2-photograph icon-lg"></i>
							</a>
							<a href="#" class="btn btn-clean btn-icon btn-md">
								<i class="flaticon2-photo-camera icon-lg"></i>
							</a>
						</div>
						<div>
							<button type="button" class="btn btn-primary btn-md text-uppercase font-weight-bold chat-send-message py-2 px-6" data-Model="@EncryptionHelper.Encrypt(Model.PurchaseForm)">Send</button>
						</div>
					</div>
					<!--begin::Compose-->
				</div>
				<!--end::Footer-->
			</div>
			<!--end::Card-->
		</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
<script>
	(function () {
		var connection = new signalR.HubConnectionBuilder().withUrl("/ChatHub").build();
		debugger;
		connection.start().then(function () {
			console.log("connected");

			connection.invoke('getConnectionId')
				.then(function (connectionId) {
					sessionStorage.setItem('conectionId', connectionId);
					connection.invoke("AddToGroup", connectionId,"@(EncryptionHelper.Encrypt(Model.PurchaseForm.Id.ToString()))");
					// Send the connectionId to controller
				}).catch(err => console.error(err.toString()));;
		});

		$(window).on('beforeunload', function () {
			connection.invoke("RemoveFromGroup", sessionStorage.getItem('conectionId'), "@(EncryptionHelper.Encrypt(Model.PurchaseForm.Id.ToString()))");
		});

		$(".chat-send-message").click(function () {
			connection.invoke("SendToGroup", "@(EncryptionHelper.Encrypt(Model.PurchaseForm.Id.ToString()))", $('.chat-message').val(), sessionStorage.getItem('conectionId'));
		});

		connection.on("ReceiveMessage", function (messageRecieved, connectionId) {
			debugger;
			var message = $('.chat-message').val();
			var messagesEl = $('.chat-window-messages');
			var scrollEl = $(".chat-message-scroll")
			var textarea = $('.chat-message');
			var node = document.createElement("DIV");
			var html = '';
			if (sessionStorage.getItem('conectionId') == connectionId) {
				KTUtil.addClass(node, 'd-flex flex-column mb-5 align-items-end');
				html += '<div class="mt-2 rounded p-5 bg-light-primary text-dark-50 font-weight-bold font-size-lg text-right max-w-400px">' + messageRecieved + '</div>';
			}
			else {
				KTUtil.addClass(node, 'd-flex flex-column mb-5 align-items-start');
				html += '<div class="mt-2 rounded p-5 bg-light-success text-dark-50 font-weight-bold font-size-lg text-left max-w-400px">' + messageRecieved + '</div>';
			}
					KTUtil.setHTML(node, html);
					messagesEl.append(node);
			textarea.val('');

			$(".chat-message-scroll").animate({ scrollTop: $('.chat-window-messages').height() }, "slow");

			console.log(message);
		});

	})();
</script>

<script type="text/javascript">
	$(document).ready(function () {
		$('[data-toggle="tooltip"]').tooltip({ html: true });
		$(".chat-message-scroll").animate({ scrollTop: $('.chat-window-messages').height() }, "slow");
	});
	$(document).on('click', '#chat-model-show', function () {
		debugger;
		$('#kt_chat_modal').css("display", "block");
		$(".chat-message-scroll").animate({ scrollTop: $('.chat-window-messages').height() }, "slow");
	});
	$(document).on("click", '.chat-send-message', function (e) {
		element = e;
		var message = $('.chat-message').val();
		var messagesEl = $('#kt_chat .messages');
		var scrollEl = $('#kt_chat .scroll');
		var textarea = $('#kt_chat textarea');
		$.ajax({
			url: '/ClientArea/AddChatModel',
			data: { message: $('.chat-message').val(), purchaseForm: $(this).data('model') },
			type: 'POST',
			success: function (dataofconfirm) {
				$('.chat-message').val('')
			}
		});
	});
</script>