@using SpartanBoosting.ViewModel
@model LolOrderDetailsViewModel
@{
	Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";

}
<link href="~/Client/assets/css/ClientArea.css" rel="stylesheet" />
<div class="container-fluid order-details">
	<div class="alert alert-info text-center" role="alert">
		<i class="dripicons-info mr-2"></i>
		A Booster will begin your order soon, they will also be in regular contact with the progress of the boost.
	</div>

	<div class="row" style="margin-top:4rem;">
		<div class="@(Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.SoloBoosting || Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.DuoBoosting || Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.TFTBoosting ? "col-lg-4 col-md-6" : "col-lg-6 col-md-12") text-center order-details-content">
			<h5 class="font-weight-bold">CURRENT RANK</h5>

			<div class="@Model.StartDivision.Split(' ')?[0].ToLower() flag current-flag" id="current-flag">
				<div class="rank-icon mb-3">
					<img id="current-image" src="/img/Lol Ranks/@(Model.StartDivision.Replace(" ", String.Empty)).png">
				</div>
				<h4 class="league-info font-weight-bold mb-0" id="current-tier">@Model.StartDivision.Split(' ')?[0]</h4>
				@if (Model.StartDivision.Split(' ').Length > 1)
				{
					<p class="division-info font-weight-normal" id="current-division">Divison @Model.StartDivision.Split(' ')[1]</p>
				}
			</div>
		</div>
		@if (Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.SoloBoosting || Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.DuoBoosting || Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.TFTBoosting)
		{
			<div class="col-lg-4 col-md-6 text-center order-details-content">
				<h5 class="font-weight-bold">DESIRED RANK</h5>
				<div class="@Model.DesiredDivision.Split(' ')?[0].ToLower() flag desired-flag" id="desired-flag">
					<div class="rank-icon mb-3">
						<img id="desired-image" src="/img/Lol Ranks/@(Model.DesiredDivision.Replace(" ", String.Empty)).png">
					</div>
					<h4 class="league-info font-weight-bold mb-0" id="desired-tier">@Model.DesiredDivision.Split(' ')?[0]</h4>
					<p class="division-info font-weight-normal" id="desired-division">Divison @Model.DesiredDivision.Split(' ')?[1]</p>
				</div>
			</div>
		}
		<div class="@(Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.SoloBoosting || Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.DuoBoosting || Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.TFTBoosting ? "col-lg-4 col-md-6" : "col-lg-6 col-md-12") text-center order-details-content">
			<h5 class="font-weight-bold">OTHER INFO</h5>
			<div class="row mt-4">
				@if (Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.SoloBoosting || Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.DuoBoosting || Model.PurchaseForm.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.TFTBoosting)
				{
					<div class="col-lg-6 col-md-4">
						<div class="card">
							<div class="card-body ">
								Current LP : <br><span class="text-primary">@Model.LP</span>
							</div>
						</div>
					</div>
				}
				else
				{
					<div class="col-lg-6 col-md-4 order-details-content">
						<div class="card">
							<div class="card-body ">
								Amount Of Games : <br><span class="text-primary">@Model.NumOfGames Games</span>
							</div>
						</div>
					</div>
				}
				<div class="col-lg-6 col-md-4 order-details-content">
					<div class="card">
						<div class="card-body ">
							Server : <br><span class="text-primary">@Model.Region</span>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-md-4 order-details-content">
					<div class="card">
						<div class="card-body ">
							Queue Type : <span class="text-primary">@Model.Queue</span>
						</div>
					</div>
				</div>
			</div>
			<h5 class="font-weight-bold">CUSTOMIZATIONS</h5>
			<div class="row mt-4 text-center order-details-content">
				<div class="col-lg-6 col-md-4">
					<div class="card">
						<div class="card-body ">
							VPN : <br><span class="text-primary">@(Model.VPN ? "Yes" : "None")</span>
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-4">
					<div class="card">
						<div class="card-body ">
							Roles : <br>
							@if (Model.SpecificRoles != null && Model.SpecificRoles.Contains("mid"))
							{
								<span data-toggle="tooltip" data-placement="top" title="" data-original-title=" MidLane">
									<img src="~/Client/assets/images/LeagueOfLegends/mid.png?1.0" width="22px">
								</span>
							}
							@if (Model.SpecificRoles != null && Model.SpecificRoles.Contains("jungle"))
							{
								<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Jungle">
									<img src="~/Client/assets/images/LeagueOfLegends/jungle.png?1.0" width="22px">
								</span>
							}
							@if (Model.SpecificRoles != null && Model.SpecificRoles.Contains("top"))
							{
								<span data-toggle="tooltip" data-placement="top" title="" data-original-title="TopLane">
									<img src="~/Client/assets/images/LeagueOfLegends/top.png?1.0" width="22px">
								</span>
							}
							@if (Model.SpecificRoles != null && Model.SpecificRoles.Contains("support"))
							{
								<span data-toggle="tooltip" data-placement="top" title="" data-original-title="Support">
									<img src="~/Client/assets/images/LeagueOfLegends/supp.png" width="22px">
								</span>
							}
							@if (Model.SpecificRoles != null && Model.SpecificRoles.Contains("adc"))
							{
								<span data-toggle="tooltip" data-placement="top" title="" data-original-title="AdCarry">
									<img src="~/Client/assets/images/LeagueOfLegends/adc.png?1.0" width="22px">
								</span>
							}
						</div>
					</div>
				</div>
				<div class="col-lg-6 col-md-4">
					<div class="card">
						<div class="card-body ">
							Champions :<br>
							<span class="text-primary">@Model.Champions</span>
						</div>
					</div>
				</div>

				<div class="col-lg-6 col-md-4 offset-md-4 offset-lg-0">
					<div class="card">
						<div class="card-body">
							Boost Priority : <br>
							<span class="text-primary">Normal</span>
						</div>
					</div>
				</div>

			</div>
		</div>


		<div class="col-md-4 offset-md-4">
			<div style="text-align: center!important;">
				<h5 class="font-weight-bold">ORDER SUMMARY</h5>
			</div>
			<div class="card">
				<div class="card-body">
					<div class="row">
						<div class="col-sm-6 my-auto" style="line-height: 2;">
							<b class="bold-tgray">Subtotal</b><br>
						</div>
						<div class="col-sm-6 text-right" style="line-height: 2;">
							<b class="price">@Model.PurchaseForm.Pricing€</b><br>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 my-auto" style="line-height: 2;">
							<b class="bold-tgray">Discount</b>
						</div>
						<div class="col-sm-6 text-right" style="line-height: 2;">
							<b class="price"> - @Model.PurchaseForm.Discount?.DiscountPercentage%</b>
						</div>
					</div>

					<div class="gb-divider my-4"></div>

					<div class="row">
						<div class="col-sm-6 my-auto pb-4">
							<b class="total">Total</b>
						</div>
						<div class="col-sm-6 text-right">
							<b class="bold-gray">EUR</b> <b class="total-cost">@Model.PurchaseForm.Pricing€</b>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>