@using SpartanBoosting.ViewModel
@model BoosterDashboardViewModel
@{
	Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
}
<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Subheader-->
	<div class="subheader py-6 py-lg-8  subheader-transparent " id="kt_subheader">
		<div class=" container  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
			<!--begin::Info-->
			<div class="d-flex align-items-center flex-wrap mr-1">

				<!--begin::Page Heading-->
				<div class="d-flex align-items-baseline flex-wrap mr-5">
					<!--begin::Page Title-->
					<h5 class="text-dark font-weight-bold my-1 mr-5">
						Lol Orders
					</h5>
					<!--end::Page Title-->

				</div>
				<!--end::Page Heading-->
			</div>
			<!--end::Info-->
			<!--begin::Toolbar-->
			<div class="d-flex align-items-center">
				<!--begin::Daterange-->
				<a href="#" class="btn btn-fixed-height btn-bg-white btn-text-dark-50 btn-hover-text-primary btn-icon-primary font-weight-bolder font-size-sm px-5 mr-3" id="kt_dashboard_daterangepicker" data-toggle="tooltip" title="Select dashboard daterange" data-placement="top">
					<span class="opacity-60 font-weight-bolder mr-2" id="kt_dashboard_daterangepicker_title">Today</span>
					<span class="font-weight-bolder" id="kt_dashboard_daterangepicker_date">Aug 16</span>
				</a>
				<!--end::Daterange-->
			</div>
			<!--end::Toolbar-->
		</div>
	</div>
	<!--end::Subheader-->
	<!--begin::Entry-->
	<div class="d-flex flex-column-fluid">
		<!--begin::Container-->
		<div class=" container ">
			<!--begin::Dashboard-->
			<ul class="nav nav-tabs nav-tabs-line">
				<li class="nav-item">
					<a class="nav-link active-jobs-nav-link active" data-toggle="tab" href="#kt_tab_pane_all">All</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active-jobs-nav-link" data-toggle="tab" href="#kt_tab_pane_1">Solo</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active-jobs-nav-link" data-toggle="tab" href="#kt_tab_pane_2">Duo</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active-jobs-nav-link" data-toggle="tab" href="#kt_tab_pane_4">Placement Matches</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active-jobs-nav-link" data-toggle="tab" href="#kt_tab_pane_3">Win Boost</a>
				</li>
			</ul>
			<div class="tab-content mt-5" id="myTabContent">
				<div class="tab-pane fade show active" id="kt_tab_pane_all" role="tabpanel" aria-labelledby="kt_tab_pane_all">
					<table class="table lol-datatable ">
						<thead>
							<tr>
								<th scope="col">Order Id</th>
								<th scope="col">Server</th>
								<th scope="col">Queue Tyoe</th>
								<th scope="col">Priority</th>
								<th scope="col">Boost Details</th>
								<th scope="col">Type</th>
								<th>Pay</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.PurchaseForm)
							{
								@switch (item.PurchaseType)
								{
									case SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.SoloBoosting:
									case SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.DuoBoosting:
										<tr title="@item.PurchaseType">
											<th scope="row">@item.Id</th>
											<td>@(item.BoostingModel.Server)</td>
											<td>@(item.BoostingModel.TypeOfQueue)</td>
											<td>Normal</td>
											<td>@($"{item.BoostingModel.YourCurrentLeague} {item.BoostingModel.CurrentDivision} {item.BoostingModel.CurrentLP} to {item.BoostingModel.DesiredCurrentLeague} {item.BoostingModel.DesiredCurrentDivision}")</td>
											<td>@item.PurchaseType</td>
											<td><span style="color: #51dc55 !important;">€@PricingExtensions.BoosterPay(item.Pricing)</span></td>
											<td>
												<button class="btn-success btn accept-job" data-booster-information="@Newtonsoft.Json.JsonConvert.SerializeObject(item.Id)">Accept</button>
											</td>
										</tr>
										break;
									case SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.WinBoosting:
										<tr title="@item.PurchaseType">
											<th scope="row">@item.Id</th>
											<td>@(item.WinBoostModel.Server)</td>
											<td>@(item.WinBoostModel.TypeOfQueue)</td>
											<td>Normal</td>
											<td>@($"{item.WinBoostModel.YourCurrentLeague} {item.WinBoostModel.CurrentDivision} With {item.WinBoostModel.NumOfGames} Games")</td>
											<td>@item.PurchaseType</td>
											<td><span style="color: #51dc55 !important;">€@PricingExtensions.BoosterPay(item.Pricing)</span></td>
											<td>
												<button class="btn-success btn accept-job" data-booster-information="@Newtonsoft.Json.JsonConvert.SerializeObject(item.Id)">Accept</button>
											</td>
										</tr>
										break;
									case SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.PlacementMatches:
										<tr title="@item.PurchaseType">
											<th scope="row">@item.Id</th>
											<td>@(item.PlacementMatchesModel.Server)</td>
											<td>@(item.PlacementMatchesModel.TypeOfQueue)</td>
											<td>Normal</td>
											<td>@($"{item.PlacementMatchesModel.LastSeasonStanding} With {item.PlacementMatchesModel.NumOfGames} Games")</td>
											<td>@item.PurchaseType</td>
											<td><span style="color: #51dc55 !important;">€@PricingExtensions.BoosterPay(item.Pricing)</span></td>
											<td>
												<button class="btn-success btn accept-job" data-booster-information="@Newtonsoft.Json.JsonConvert.SerializeObject(item.Id)">Accept</button>
											</td>
										</tr>
										break;
									default:
										break;
								}
							}
						</tbody>
					</table>
				</div>
				<div class="tab-pane fade show" id="kt_tab_pane_1" role="tabpanel" aria-labelledby="kt_tab_pane_2">
					<table class="table lol-datatable ">
						<thead>
							<tr>
								<th scope="col">Order Id</th>
								<th scope="col">Server</th>
								<th scope="col">Queue Tyoe</th>
								<th scope="col">Priority</th>
								<th scope="col">Boost Details</th>
								<th>Pay</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.PurchaseForm.Where(x => x.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.SoloBoosting))
							{
								<tr>
									<th scope="row">@item.Id</th>
									<td>@(item.BoostingModel.Server)</td>
									<td>@(item.BoostingModel.TypeOfQueue)</td>
									<td>Normal</td>
									<td>@($"{item.BoostingModel.YourCurrentLeague} {item.BoostingModel.CurrentDivision} {item.BoostingModel.CurrentLP} to {item.BoostingModel.DesiredCurrentLeague} {item.BoostingModel.DesiredCurrentDivision}")</td>
									<td><span style="color: #51dc55 !important;">€@PricingExtensions.BoosterPay(item.Pricing)</span></td>
									<td>
										<button class="btn-success btn accept-job" data-booster-information="@Newtonsoft.Json.JsonConvert.SerializeObject(item.Id)">Accept</button>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
				<div class="tab-pane fade" id="kt_tab_pane_2" role="tabpanel" aria-labelledby="kt_tab_pane_2">
					<table class="table lol-datatable w-100">
						<thead>
							<tr>
								<th scope="col">Order Id</th>
								<th scope="col">Server</th>
								<th scope="col">Queue Tyoe</th>
								<th scope="col">Priority</th>
								<th scope="col">Boost Details</th>
								<th>Pay</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.PurchaseForm.Where(x => x.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.DuoBoosting))
							{
								<tr>
									<th scope="row">@item.Id</th>
									<td>@(item.BoostingModel.Server)</td>
									<td>@(item.BoostingModel.TypeOfQueue)</td>
									<td>Normal</td>
									<td>@($"{item.BoostingModel.YourCurrentLeague} {item.BoostingModel.CurrentDivision} {item.BoostingModel.CurrentLP} to {item.BoostingModel.DesiredCurrentLeague} {item.BoostingModel.DesiredCurrentDivision}")</td>
									<td><span style="color: #51dc55 !important;">€@PricingExtensions.BoosterPay(item.Pricing)</span></td>
									<td>
										<button class="btn-success btn accept-job" data-booster-information="@Newtonsoft.Json.JsonConvert.SerializeObject(item.Id)">Accept</button>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
				<div class="tab-pane fade" id="kt_tab_pane_3" role="tabpanel" aria-labelledby="kt_tab_pane_3">
					<table class="table lol-datatable ">
						<thead>
							<tr>
								<th scope="col">Order Id</th>
								<th scope="col">Server</th>
								<th scope="col">Queue Tyoe</th>
								<th scope="col">Priority</th>
								<th scope="col">Boost Details</th>
								<th>Pay</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.PurchaseForm.Where(x => x.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.WinBoosting))
							{
								<tr>
									<th scope="row">@item.Id</th>
									<td>@(item.WinBoostModel.Server)</td>
									<td>@(item.WinBoostModel.TypeOfQueue)</td>
									<td>Normal</td>
									<td>@($"{item.WinBoostModel.YourCurrentLeague} {item.WinBoostModel.CurrentDivision} With {item.WinBoostModel.NumOfGames} Games")</td>
									<td><span style="color: #51dc55 !important;">€@PricingExtensions.BoosterPay(item.Pricing)</span></td>
									<td>
										<button class="btn-success btn accept-job" data-booster-information="@Newtonsoft.Json.JsonConvert.SerializeObject(item.Id)">Accept</button>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
				<div class="tab-pane fade" id="kt_tab_pane_4" role="tabpanel" aria-labelledby="kt_tab_pane_4">
					<table class="table lol-datatable ">
						<thead>
							<tr>
								<th scope="col">Order Id</th>
								<th scope="col">Server</th>
								<th scope="col">Queue Tyoe</th>
								<th scope="col">Priority</th>
								<th scope="col">Boost Details</th>
								<th>Pay</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.PurchaseForm.Where(x => x.PurchaseType == SpartanBoosting.Utils.PurchaseTypeEnum.PurchaseType.PlacementMatches))
							{
								<tr>
									<th scope="row">@item.Id</th>
									<td>@(item.PlacementMatchesModel.Server)</td>
									<td>@(item.PlacementMatchesModel.TypeOfQueue)</td>
									<td>Normal</td>
									<td>@($"{item.PlacementMatchesModel.LastSeasonStanding} With {item.PlacementMatchesModel.NumOfGames} Games")</td>
									<td><span style="color: #51dc55 !important;">€@PricingExtensions.BoosterPay(item.Pricing)</span></td>
									<td>
										<button class="btn-success btn accept-job" data-booster-information="@Newtonsoft.Json.JsonConvert.SerializeObject(item.Id)">Accept</button>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="lol-details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">LOL Details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-4">Username</div>
					<div class="col-4">Password</div>
					<div class="col-4">Discord</div>
				</div>
				<div class="row">
					<div class="col-4" id="lol-username"></div>
					<div class="col-4" id="lol-password"></div>
					<div class="col-4" id="lol-discord"></div>
				</div>
			</div>
			<div class="modal-footer">

			</div>
		</div>
	</div>
</div>
<!--end::Page Vendors-->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="~/js/BoosterPanel.js"></script>
