@using SpartanBoosting.ViewModel
@using SpartanBoosting.Utils
@model InvoiceViewModel
@{
	TempData.Put("OrderModel", Model.PurchaseForm);

}
<div class="container">
	<div class="nk-gap-1"></div>
	<div class="col-md-12 d-flex justify-content-center">
		<p style="color: green; letter-spacing: 1px; font-family:'Open Sans',muli;font-size: 16px;line-height: 1.4em;">
			@TempData["Result"]
		</p>
		<p style="color: red; letter-spacing: 1px; font-family:'Open Sans',muli;font-size: 16px;line-height: 1.4em;">
			@TempData["StripePayment"]
		</p>
	</div>
	<a href="https://uk.trustpilot.com/review/spartanboosting.com">
		<span class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="5e809cc9d39b0d0001af5692" data-style-height="24px" data-style-width="100%" data-theme="dark">
		</span>
	</a>
	<div class="row vertical-gap">
		<div class="col-lg-12">
			<form asp-action="CreateInvoice" id="create-invoice-form" role="form" asp-controller="Invoice" asp-antiforgery="true"
				  data-ajax-success="Bindgrid"
				  data-ajax="true"
				  data-ajax-method="POST">
				<input asp-for="PurchaseForm.PurchaseType" type="hidden" id="custId" name="PurchaseForm.PurchaseType" value="@Model.PurchaseForm.PurchaseType">
				<div class="nk-store nk-store-checkout">
					<div class="row vertical-gap lg-gap">
						<div class="col-md-6">
							<!-- START: Billing Details -->
							<div class="nk-box-3 bg-dark-1">
								@if (TempData["validationResult"] != null && !string.IsNullOrEmpty(TempData["validationResult"].ToString()))
								{
									<div class="nk-info-box bg-danger">
										<div class="nk-info-box-icon">
											<i class="ion-alert-circled"></i>
										</div> @TempData["validationResult"]
									</div>
								}
								<h3 class="nk-title h4 text-center">Order Recipient</h3>
								<div class="nk-gap"></div>
								<div class="nk-tabs order-recipient-content @(User.Identity.IsAuthenticated ? "d-none" : "")">
									<ul class="nav nav-tabs" role="tablist">
										<li class="nav-item">
											<a class="nav-link d-none" href="#tabs-1-1" role="tab" data-toggle="tab" aria-selected="true">Login</a>
										</li>
										<li class="nav-item">
											<a class="nav-link d-none" href="#tabs-1-2" role="tab" data-toggle="tab" aria-selected="false">Register</a>
										</li>
										<li class="nav-item">
											<a class="nav-link active" href="#tabs-1-3" id="guest-account-order" role="tab" data-toggle="tab" aria-selected="false">Guest Account</a>
										</li>
									</ul>
									<div class="tab-content">
										<div role="tabpanel" class="tab-pane fade" id="tabs-1-1">
											<div class="nk-gap-1"></div>
											<div>
												<input class="form-control login-username" type="text" placeholder="Username or Email" required>
												<div class="nk-gap-2"></div>
												<input class="form-control login-password" type="password" placeholder="Password" required>
												<div id="LoginModel_loginattempt-error" class="nk-error" style="display:none">Invalid Login Attempt.</div>
												<div class="nk-gap-2"></div>
												<button class="nk-btn nk-btn-color-white link-effect-4 float-right login-invoice-button" type="button">Log In</button>
											</div>
											<div class="nk-gap-1"></div>
										</div>
										<div role="tabpanel" class="tab-pane fade" id="tabs-1-2">
											<div class="nk-gap-1"></div>
											<div>
												<input class="form-control register-email" type="text" placeholder="Email">
												<div class="nk-gap-2"></div>
												<input class="form-control register-username" type="text" placeholder="Username">
												<div class="nk-gap-2"></div>
												<input class="form-control register-password" type="password" placeholder="Password">
												<div class="nk-gap-2"></div>
												<input class="form-control register-confirm-password" type="password" placeholder="Confirm Password">
												<div class="nk-gap-2"></div>
												<button class="nk-btn nk-btn-color-white link-effect-4 float-right register-invoice-button" type="button">Register</button>
											</div>
											<div id="register-error" class="nk-error" style="display:none"></div>
											<div class="nk-gap-1"></div>
										</div>
										<div role="tabpanel" class="tab-pane fade active show" id="tabs-1-3">
											<div class="nk-gap-1"></div>
											@if (!(Model.PurchaseForm.PurchaseType == PurchaseTypeEnum.PurchaseType.DuoBoosting ||
										   (Model.PurchaseForm.PurchaseType == PurchaseTypeEnum.PurchaseType.WinBoosting && Model.PurchaseForm.WinBoostModel != null && Model.PurchaseForm.WinBoostModel.TypeOfService == "Duo")||
(Model.PurchaseForm.PlacementMatchesModel != null && Model.PurchaseForm.PurchaseType == PurchaseTypeEnum.PurchaseType.PlacementMatches && Model.PurchaseForm.PlacementMatchesModel.TypeOfService == "Duo")))
											{
												<div class="row pb-4">
													<div class="col-md-6 pr-3">
														<div class="ginput_container ginput_container_select">
															<label class="pb-3 gfield_label" for="current-rank">LEAGUE OF LEGENDS USERNAME:<span class="gfield_required">*</span></label>
															<input class="form-control " name="PurchaseForm.PersonalInformation.UserName" id="" asp-for="PurchaseForm.PersonalInformation.UserName" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false" required="">
														</div>
													</div>
													<div class="col-md-6">
														<div class="ginput_container ginput_container_select">
															<label class="pb-3 gfield_label" for="desired-rank">LEAGUE OF LEGENDS PASSWORD:<span class="gfield_required">*</span></label>
															<input class="form-control " name="PurchaseForm.PersonalInformation.Password" id="" asp-for="PurchaseForm.PersonalInformation.Password" type="password" value="" aria-describedby="gfield_description_10_286" aria-invalid="false" required="">
														</div>
													</div>
												</div>
											}

											<div class="row pb-4">
												<div class="col-md-6 pr-3">
													<div class="ginput_container ginput_container_select">
														<label class="pb-3 gfield_label" for="current-rank">First Name:</label>
														<input class="form-control " name="PurchaseForm.PersonalInformation.FirstName" id="" asp-for="PurchaseForm.PersonalInformation.FirstName" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false">
													</div>
												</div>
												<div class="col-md-6">
													<div class="ginput_container ginput_container_select">
														<label class="pb-3 gfield_label" for="desired-rank">Last Name:</label>
														<input class="form-control " name="PurchaseForm.PersonalInformation.LastName" id="" asp-for="PurchaseForm.PersonalInformation.LastName" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false">
													</div>
												</div>
											</div>

											<div class="row pb-4">
												<div class="col-md-6 pr-3">
													<div class="ginput_container ginput_container_select">
														<label class="pb-3 gfield_label" for="current-rank">Email:<span class="gfield_required">*</span></label>
														<input class="form-control " name="PurchaseForm.PersonalInformation.Email" id="" asp-for="PurchaseForm.PersonalInformation.Email" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false" required="">
													</div>
												</div>
												<div class="col-md-6">
													<div class="ginput_container ginput_container_select">
														<label class="pb-3 gfield_label" for="desired-rank">Discord:<span class="gfield_required">*</span></label>
														<input class="form-control " name="PurchaseForm.PersonalInformation.Discord" id="" asp-for="PurchaseForm.PersonalInformation.Discord" type="text" value="" aria-describedby="gfield_description_10_286" aria-invalid="false" required="">
													</div>
												</div>
											</div>
											<div class="nk-gap-1"></div>
										</div>
										<div class="float-left invoice-recipient-message"></div>
									</div>
								</div>

								<table class="table table-bordered nk-store-cart-order user-logon-details-table @(User.Identity.IsAuthenticated ? "":"d-none")">
									<thead class="thead-default">
										<tr>
											@if (User.Identity.IsAuthenticated)
											{
												<th class="nk-product-cart-title text-left">@User.Identity.Name</th>
											}
											else
											{
												<th class="nk-product-cart-title user-logon-details text-left"></th>
											}
										</tr>
									</thead>
								</table>
								<button class="nk-btn nk-btn-lg link-effect-4 float-right ready sign-out-order @(!User.Identity.IsAuthenticated ? "d-none" : "")" type="button">
									<span class="link-effect-inner">
										<span class="link-effect-l">
											<span>Not You?</span>
										</span><span class="link-effect-r"><span>Not You?</span></span><span class="link-effect-shade"><span>Not You?</span></span>
									</span>
								</button>
							</div>
							<!-- END: Billing Details -->
						</div>
						<div class="col-md-6">
							<!-- START: Notes -->
							<div class="bg-dark-1">
								<div class="nk-box-3 bg-dark-1">
									<h3 class="nk-title h4 text-center">Your Order</h3>
									<div class="nk-gap"></div>
									<div class="table-responsive">
										<table class="table table-bordered nk-store-cart-order">
											<thead class="thead-default">
												<tr>
													<th class="nk-product-cart-title">Product</th>
													<th class="nk-product-cart-total">Total</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="nk-product-cart-title"> @LolPricingExtensions.DisplayLolTFTBoostJobDescription(Model.PurchaseForm) </td>
													<td class="nk-product-cart-total">
														€@Model.PurchaseForm.Pricing
													</td>
												</tr>
												<tr>
													<td class="nk-product-cart-title"> Discount </td>
													<td class="nk-product-cart-total"> @Model.PurchaseForm.Discount?.DiscountPercentage% </td>
												</tr>
												<tr>
													<td class="nk-product-cart-title"> Discount Code </td>
													<td class="nk-product-cart-total"> @Model.PurchaseForm.Discount?.DiscountCode </td>
												</tr>
												<tr class="nk-store-cart-totals-subtotal">
													<td> Subtotal </td>
													<td> €@Model.PurchaseForm.Pricing </td>
												</tr>
												<tr class="nk-store-cart-totals-total">
													<td> Total </td>
													<td> €@Model.PurchaseForm.Pricing </td>
												</tr>
											</tbody>
										</table>
									</div>

									<div class="row pb-4">
										<div class="col-md-12">
											<div class="ginput_container ginput_container_select">
												<label class="pb-3 gfield_label" for="current-rank">PAYMENT METHOD:<span class="gfield_required">*</span></label>
												<select asp-for="PurchaseForm.PersonalInformation.PaymentMethod" name="PurchaseForm.PersonalInformation.PaymentMethod" id="payment-method" class="form-control gfield_select" aria-required="true" aria-invalid="false" required="">
													<option value="Stripe" selected="selected">Stripe</option>
													<option value="Paypal">Paypal</option>
												</select>
											</div>
										</div>
									</div>

									<div class="stripe-form">
										<div class="payment-errors nk-error"></div>

										<div class="row pb-4">
											<div class="col-md-12">
												<div class="ginput_container ginput_container_select">
													<label class="w-100">
														<span class="pb-3">Card Number</span>
														<input type="text" class="form-control" data-stripe="number">
													</label>
												</div>
											</div>
										</div>

										<div class="row pb-4">
											<div class="col-md-4 pr-3">
												<div class="ginput_container ginput_container_select">
													<label class="w-100">
														<span class="pb-3">CVC</span>
														<input type="text" class="form-control" data-stripe="cvc">
													</label>
												</div>
											</div>
											<div class="col-md-4 pr-3">
												<div class="ginput_container ginput_container_select">
													<label class="w-100">
														<span class="pb-3">Expiration (MM)</span>
														<input type="text" class="form-control" data-stripe="exp-month">
													</label>
												</div>
											</div>
											<div class="col-md-4">
												<div class="ginput_container ginput_container_select">
													<label class="w-100">
														<span class="pb-3">Expiration (YYYY)</span>
														<input type="text" class="form-control" data-stripe="exp-year">
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- END: Notes -->
						</div>
					</div>
					<div class="nk-gap-1"></div>
					<button class="nk-btn nk-btn-lg link-effect-4 float-right ready proceed-invoice-btn" type="button">
						<span class="link-effect-inner">
							<span class="link-effect-l">
								<span>Place Order</span>
							</span><span class="link-effect-r"><span>Place Order</span></span><span class="link-effect-shade"><span>Place Order</span></span>
						</span>
					</button>
					<div class="clearfix"></div>
				</div>
			</form>
		</div>
	</div>
	<div class="nk-gap-4"></div>
	<div class="nk-gap-3"></div>
</div>

<script type="text/javascript">
	$(".login-invoice-button").click(function (event) {
		$(".login-invoice-button").prop('disabled', true);
		event.preventDefault();
		$('#LoginModel_loginattempt-error').hide()
		$.ajax({
			url: '/Account/LoginAjax',
			data: {
				Email: $('.login-username').val(),
				Password: $('.login-password').val()
			},
			type: 'POST',
			success: function (response) {
				if (!response.success) {
					$('#LoginModel_loginattempt-error').text('Invalid Login Attempt').show()
				}
				else {
					$('.order-recipient-content').addClass('d-none')
					$('.invoice-recipient-message').text(response.username);
					$('.user-logon-details-table th').text(response.username);
					$('.user-logon-details-table').removeClass('d-none')
					$('.sign-out-order').removeClass('d-none')
				}
				$(".login-invoice-button").prop('disabled', false);
			}
		});
	});

	$(".register-invoice-button").click(function (event) {

		$(".register-invoice-button").prop('disabled', true);
		event.preventDefault();
		$('#LoginModel_loginattempt-error').hide()
		$.ajax({
			url: '/Account/RegisterAjax',
			data: {
				Email: $('.register-email').val(),
				Username: $('.register-username').val(),
				Password: $('.register-password').val(),
				ConfirmPassword: $('.register-confirm-password').val()
			},
			type: 'POST',
			success: function (response) {

				if (!response.success) {
					$('#register-error').text(response.message).show()
				}
				else {
					$('#register-error').hide();
					$('.order-recipient-content').addClass('d-none')
					$('.invoice-recipient-message').text(response.message);
					$('.user-logon-details-table th').text(response.username);
					$('.user-logon-details-table').removeClass('d-none')
					$('.sign-out-order').removeClass('d-none')
					//response.username
				}
				$(".register-invoice-button").prop('disabled', false);
			}
		});
	});

	$(".sign-out-order").click(function (event) {
		debugger;
		$(".sign-out-order").prop('disabled', true);
		event.preventDefault();
		$('#LoginModel_loginattempt-error').hide()
		$.ajax({
			url: '/Account/LogoutAjax',
			type: 'POST',
			success: function (response) {

				if (response.success) {
					$('.order-recipient-content').removeClass('d-none')
					$('.invoice-recipient-message').text('');
					$('.user-logon-details-table th').text('');
					$('.user-logon-details-table').addClass('d-none')
					$('.sign-out-order').addClass('d-none')
				}
				$(".sign-out-order").prop('disabled', false);
			}
		});
	});

</script>

<script type="text/javascript">
	Stripe.setPublishableKey('pk_live_u9ZDiEA4MATglICKYobFNb0S00v6iolLzi');
	var stripeResponseHandler = function (status, response) {
		debugger;
		try {
			var $form = $('.stripe-form');
			$('form').validate();
			if (response.error) {
				// Show the errors on the form
				$form.find('.payment-errors').text(response.error.message);
				$('.proceed-invoice-btn').prop('disabled', false);
			} else {
				// token contains id, last4, and card type
				var token = response.id;
				// Insert the token into the form so it gets submitted to the server
				$form.append($('<input type="hidden" name="PurchaseForm.PersonalInformation.stripeToken" asp-for="PurchaseForm.PersonalInformation.stripeToken" />').val(token));
				// and re-submit
				$('#create-invoice-form').submit();
			}
		}
		catch (err) {
			$('.proceed-invoice-btn').prop('disabled', false);
			console.log(err)
		}

	};

	$(document).on("click", '.proceed-invoice-btn', function (e) {
		try {
			e.preventDefault(); // stop redirection
			debugger;
			$('[required]:visible').each(function () {
				if (!$(this)[0].checkValidity()) {
					$('.toast').toast('show');
					$(this).addClass('field-validation-error')
				}
				else {
					$(this).removeClass('field-validation-error')
				}
			});

			if ($('.order-recipient-content').find('li .active').attr('id') == "guest-account-order" && $('.order-recipient-content').is(":visible")) {
				if (!$("form")[0].checkValidity()) {
					return;
				}
			}
			$('.proceed-invoice-btn').prop('disabled', true);
			if ($('#payment-method').val() == "Stripe") {

				var $form = $('.stripe-form');

				// Disable the submit button to prevent repeated clicks

				Stripe.card.createToken($form, stripeResponseHandler);

				// Prevent the form from submitting with the default action
				return false;
			}
			else { $($(this).parents('form:first')).submit(); }
		}
		catch (err) {
			$('.proceed-invoice-btn').prop('disabled', false);
			console.log(err)
		}
	});

	$(document).on("change", '#payment-method', function () {
		if (this.value == "Paypal")
			$('.stripe-form').hide()
		else
			$('.stripe-form').show()
	});
</script>