
@model List<ApplicationUser>
@{
	Layout = "~/Views/Shared/_AuthenticatedLayout.cshtml";
	ViewData["Title"] = "User Profiles";
}

<div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Subheader-->
	<div class="subheader py-6 py-lg-8  subheader-transparent " id="kt_subheader">
		<div class=" container  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
			<!--begin::Info-->
			<div class="d-flex align-items-center flex-wrap mr-1">

				<!--begin::Page Heading-->
				<div class="d-flex align-items-baseline flex-wrap mr-5">
					<!--begin::Page Title-->
					<h5 class="text-dark font-weight-bold my-1 mr-5">
						User Profiles
					</h5>
					<!--end::Page Title-->

				</div>
				<!--end::Page Heading-->
			</div>
			<!--end::Info-->
			<!--begin::Toolbar-->
			<div class="d-flex align-items-center">
				<!--begin::Daterange-->
				<a href="#" class="btn btn-fixed-height btn-bg-white btn-text-dark-50 btn-hover-text-primary btn-icon-primary font-weight-bolder font-size-sm px-5 mr-3" id="kt_dashboard_daterangepicker" data-toggle="tooltip" title="Select dashboard daterange" data-placement="top">
					<span class="opacity-60 font-weight-bolder mr-2" id="kt_dashboard_daterangepicker_title">Today</span>
					<span class="font-weight-bolder" id="kt_dashboard_daterangepicker_date">Aug 16</span>
				</a>
				<!--end::Daterange-->
			</div>
			<!--end::Toolbar-->
		</div>
	</div>
	<!--end::Subheader-->
	<!--begin::Entry-->
	<div class="d-flex flex-column-fluid">
		<!--begin::Container-->
		<div class=" container ">
			<!--begin::Dashboard-->
			<!--begin::Row-->
			<div class="row">
				<div class="col-lg-12">
					<!--begin::Tables Widget 1-->
					<div class="card card-custom card-stretch gutter-b">
						<!--begin::Header-->
						<div class="card-header border-0 pt-7">
							<h3 class="card-title align-items-start flex-column">
								<span class="card-label font-weight-bolder font-size-h4 text-dark-75">Users</span>
								<span class="text-muted mt-3 font-weight-bold font-size-lg">User Profiles</span>
							</h3>
							<div class="card-toolbar">
								<ul class="nav nav-pills nav-pills-sm nav-dark">
									<li class="nav-item ml-0">
										<a class="nav-link py-2 px-4 font-weight-bolder font-size-sm active" data-toggle="tab" href="#kt_tab_table_1_1">User Profiles</a>
									</li>
								</ul>
							</div>
						</div>
						<!--end::Header-->
						<!--begin::Body-->
						<div class="card-body pt-1 pb-4">
							<div class="tab-content mt-5" id="myTabTable1">
								<!--begin::Tap pane-->
								<div class="tab-pane fade show active" id="kt_tab_table_1_1" role="tabpanel" aria-labelledby="kt_tab_table_1_1">
									<!--begin::Table-->
									<div class="">
										<table class="table table-borderless table-vertical-center users-table">
											<thead>
												<tr>
													<th class="p-0"></th>
													<th class="p-0">Id</th>
													<th class="p-0">Username</th>
													<th class="p-0">Balance</th>
													<th class="p-0">DiscordId</th>
													<th class="p-0">Actions</th>
												</tr>
											</thead>

											<tbody>
												@foreach (var item in Model)
												{
												<tr>
													<td class="py-5 pl-0">
													</td>
													<td class="pl-0">
														<span class="text-muted font-weight-bold d-block">@item.Id</span>
													</td>
													<td class="">
														<span class="text-muted font-weight-bold d-block">@item.UserName</span>
													</td>
													<td class="">
														<span class="text-muted font-weight-bold d-block"><input type="number" class="form-control balance-text" value="@item.Balance" /></span>
													</td>
													<td class="">
														<span class="text-muted font-weight-bold d-block"><input class="form-control discord-id-text" value="@item.DiscordId" /></span>
													</td>
													<td class="">
														<button class="btn btn-success btn-booster-details" data-booster-id="@item.Id">Save User Details</button>
													</td>

												</tr>
												}
											</tbody>
										</table>
									</div>
									<!--end::Tablet-->
								</div>
								<!--end::Tap pane-->
							</div>
						</div>
						<!--end::Body-->
					</div>
					<!--end::Tables Widget 1-->
				</div>
			</div>
			<!--end::Row-->
		</div>
		<!--end::Container-->
	</div>
	<!--end::Entry-->
</div>
<script type="text/javascript">
	$(document).on("click", '.btn-booster-details', function () {
		debugger;
		var data = $(this).data('booster-id')
		var discordId = $(this).closest('tr').find('.discord-id-text').val()
		var balance = $(this).closest('tr').find('.balance-text').val()
		$.ajax({
			url: '/Administration/UpdateUserProfile',
			data: { discordId: discordId, id: data, balance: balance },
			context: this,
			type: 'POST',
			success: function (dataofconfirm) {
			}
		});
	});

	$(document).ready(function () {
		RenderDT($('.users-table'))
		function RenderDT(element) {
			dataTable = $(element).DataTable({
				lengthMenu: [5, 10, 25, 50],
				"oLanguage": { "sZeroRecords": "", "sEmptyTable": "" },
				pageLength: 10,
				"bFilter": true,
				"bInfo": false,
				"bAutoWidth": false,
				// Order settings
				order: [[0, 'asc']],
				scrollX: false,
				"bLengthChange": false,
			});
		}
	});
</script>